.form {
  width: 300px;
  margin: 20px auto;
  border: 3px double white;
}
.form h1 {
  margin: 20px 0;
  font-size: 24px;
  background-color: aqua;
}
.form label {
  display: block;
  margin: 0;
  padding: 0;
}
.form .inline-block {
  display: inline;
}
.form button {
  margin: 5px;
  padding: 5px;
  background-color: aqua;
  border-radius: 20%;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (min-width: 410px) {
  .form {
    width: 400px;
  }
  .form h1 {
    width: 400px;
    font-size: 32px;
  }
}
