.App {
  text-align: center;
  background-color: burlywood;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header nav {
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-wrap: wrap;
}
.App-header p {
  margin: 5px;
  padding: 5px;
  border: 1px solid burlywood;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

.App-footer p {
  display: inline-block;
  margin: 0 5px;
}
.App-footer a {
  color: white;
  padding: 2px;
}

@media only screen and (min-width: 410px) {
  .App-footer {
    padding: 20px;
    font-size: 16px;
  }
  .App-footer p {
    padding: 10px;
  }
}
