.ball {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}
.jump {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    margin-top: 0vh;
  }
  50% {
    margin-top: 55vh;
  }
  100% {
    margin-top: 0vh;
  }
}
